doctype html
html(lang='en')
  head
    title= title
  body
    h1= message
    form(action='sendCapital', method='get')
      input(type='text', name='capital')
      input(type='submit', value='send')